@charset "iso-8859-9";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	overflow:hidden;
	overflow-y:scroll;
	overflow-x:hidden;
	background:#CCC url(../img/bgr.png);
}
.bildirim{
	background:#000;
	opacity:0.8;
	box-shadow:0px 2px 2px 2px #333333;
	border-top:1px solid #666;
	width:620px;
	color:#FFF;
	padding:3px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.clear{ clear:both; }
.bolum1{
	background: #3B3B3B;
	border-bottom:1px solid #999999;
}
.bolum1 .sol {
	float: left;
	width: 50%;
	padding:6px;
}
.bolum1 .sag {
	float: left;
	width: 47%;
	text-align:right;
	padding:20px 10px 10px 10px;
}
.bolum2 {
	background-color: #3B3B3B;
	box-shadow:2px 2px 2px #333333;
	width:100%;
	height:33px;
}
.bolum2 #MenuBar1 li a{
	padding:7px 10px 8px 10px;	
}
.bolum3 {
	background:url(../img/overlay.png);
	padding:20px;
	text-align:center;
	border-bottom:5px solid #333;
}.bolum3 .giris {
	background:url(../img/overlay.png);
	width:300px;
	margin:auto;
	text-align:right;
	margin-top:20px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border:1px solid #888;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.bolum3 .giris h2{
	color:#FFF;
	margin-right:5px;
	padding:10px;
	font-weight:normal;
}
.bolum3 .giris h4{
	color:#FFF;
	font-size:13px;
	font-weight:normal;
}
.bolum3 .giris a{
	color:#FFF;
	font-size:13px;
	font-weight:normal;
}
.bolum3 .giris .baslik {
	font-size:20px; 
	color:#FFF; 
	padding-right:15px;
	font-weight:bold;
}
.button{
	background:#FFF;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	border:2px solid #333; 
	color:#000; 
	padding:7px 15px 7px 15px; 
	height:34px;
}
h3{
	color:#333;
	margin:0;
	padding:5px;
}
textarea{
	min-width:99.3%;
	height:70px;
}
.banner{
	background:#333;
}
table{
	margin-top:20px;
}
table td{
	background:#333;
	color:#FFF;
	padding:7px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
}